<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <filter>
        <filter-name>LoginFilter</filter-name>
        <filter-class>Filter.LoginLogFilter</filter-class>
    </filter>
    <filter>
        <filter-name>SignupFilter</filter-name>
        <filter-class>Filter.SignupLogFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>SignupFilter</filter-name>
        <servlet-name>ServletSignup</servlet-name>
        <dispatcher>REQUEST</dispatcher>
    </filter-mapping>
    <filter-mapping>
        <filter-name>LoginFilter</filter-name>
        <servlet-name>ServletLogin</servlet-name>
        <dispatcher>REQUEST</dispatcher>
    </filter-mapping>
    <servlet>
        <servlet-name>Captcha</servlet-name>
        <servlet-class>ServletCaptcha.Captcha</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletLogin</servlet-name>
        <servlet-class>ServletLogin.ServletLogin</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletSignup</servlet-name>
        <servlet-class>ServletSignup.ServletSignup</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletHome</servlet-name>
        <servlet-class>ServletHome.ServletHome</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletProfile</servlet-name>
        <servlet-class>ServletProfile.ServletProfile</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Search</servlet-name>
        <servlet-class>Search.Search</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CoverPhoto</servlet-name>
        <servlet-class>UploadCover.CoverPhoto</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProfilePhoto</servlet-name>
        <servlet-class>UploadProfile.ProfilePhoto</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>FollowUnfollow</servlet-name>
        <servlet-class>FollowUnfollow.FollowUnfollow</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletPage</servlet-name>
        <servlet-class>PageCreation.ServletPage</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Page</servlet-name>
        <servlet-class>ServletPage.Page</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletPostWithImage</servlet-name>
        <servlet-class>Posts.ServletPostWithImage</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PageCoverPhoto</servlet-name>
        <servlet-class>UploadPageCover.PageCoverPhoto</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PageProfilePhoto</servlet-name>
        <servlet-class>UploadPageProfile.PageProfilePhoto</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Captcha</servlet-name>
        <url-pattern>/Captcha</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletLogin</servlet-name>
        <url-pattern>/ServletLogin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletSignup</servlet-name>
        <url-pattern>/ServletSignup</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletHome</servlet-name>
        <url-pattern>/ServletHome</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletProfile</servlet-name>
        <url-pattern>/ServletProfile</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Search</servlet-name>
        <url-pattern>/Search</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CoverPhoto</servlet-name>
        <url-pattern>/CoverPhoto</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProfilePhoto</servlet-name>
        <url-pattern>/ProfilePhoto</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FollowUnfollow</servlet-name>
        <url-pattern>/FollowUnfollow</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletPage</servlet-name>
        <url-pattern>/ServletPage</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Page</servlet-name>
        <url-pattern>/Page</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletPostWithImage</servlet-name>
        <url-pattern>/ServletPostWithImage</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PageCoverPhoto</servlet-name>
        <url-pattern>/PageCoverPhoto</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PageProfilePhoto</servlet-name>
        <url-pattern>/PageProfilePhoto</url-pattern>
    </servlet-mapping>
    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
    </welcome-file-list>
</web-app>
